* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("Montage_1.jpg") center /
  cover no-repeat fixed;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  text-align: center;
  /** background-color: white; */
  background-color: rgba(30, 143, 255, 0.488);  
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}


#phrase {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

   

.options button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  margin: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

#score-container {
  margin-top: 20px;
}
